.contained {
    
    background-image: url('./ArcScreen.jpeg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
}

@media (min-width: 3000px ) {
    .contained {
        background-position: center center;
    }
}

.btn_social {
    margin-top: 530px;
    margin-right: 0px;
    margin-left: 990px
}

.btn_dex {
    margin-left: 990px
}